streamlit
langchain
chromadb>=0.4.22
openai
tiktoken
sentence-transformers
python-dotenv
requests
biopython
langchain
langchain-google-genai
langchain-community
protobuf<4.0.0,>=3.20.0
streamlit
langchain
chromadb>=0.4.22
biopython
requests
markdown-it-py
mdurl
pygments
rich
langchain-google-genai
faiss-cpu
protobuf>=3.20.0,<4.0.0




